Order Deny, Allow
Deny from all
<Files *.php>
	Order Deny, Allow
	Allow from all
</Files>

<Files .htaccess>
	Order Deny, Allow
	Allow from all
</Files>

<Files php.ini>
	Order Deny, Allow
	Allow from all
</Files>